{
   on_demand_tls {
     ask http://gohunt:8081/check_domain
   }

}

{$DOMAIN} {
    log {
        output stdout
    }

    reverse_proxy gohunt:8081 
}

*.{$DOMAIN} {

    # Log all requests
    log {
        output stdout
    }

    tls {
        on_demand
    }

    reverse_proxy gohunt:8081
}