abuse_email: contact@example.com
domain: localhost
listen_address: 127.0.0.1:8081

notifications:
  smtp:
    enabled: false
    from: no-reply@example.com
    host: mail.example.com
    port: 587
    username: 
    password: 

database:
  password: mysecretpassword
  user: gohunt
  dbname: gohunt
  host: localhost
  port: 5432
  sslmode: disable


