domain: localhost
listen_address: 127.0.0.1:8081
number_proxies: 1

features:
  contact:
    enabled: true
    abuse_email: contact@example.com
  signup:
    enabled: true
  oidc: 
    enabled: true
    public_url: http://localhost:8081/
    issuer_url: http://localhost:8080/realms/Test
    client_id: gohunt
    client_secret: 
    admin_group_claim_name: groups 
    admin_group_name: gohunt_adm

notification:
  confidential: true
  smtp:
    enabled: false
    from: no-reply@example.com
    host: mail.example.com
    port: 587
    username: 
    password: 

database:
  password: gohunt
  user: gohunt
  dbname: gohunt
  host: 127.0.0.1
  port: 5432
  sslmode: disable


